.accordion-button.chevron:after {
  background-image: url("../assets/chevron-down.svg");
  background-size: 0.9rem;
  background-position: center;
  cursor: pointer;
}

.accordion-button:not(.collapsed) {
  color: inherit;
}

.accordion-button.shadow-none:not(.collapsed) {
  box-shadow: none;
}
